*{
    box-sizing:border-box;
    padding:opx;
    margin:opx;
}
body {
    margin: 0;
    font-family: Arial;
    background-color: #f0f8ff;
}
p{
    font-size: 20px;
}
h1,h2{
     color: #003366;
}
.navbar {
    background-color: #003366;
    overflow: hidden;
    font-style: bold;
}
.navbar a {
    float: left;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ff9900;
}
footer {
    background-color: #003366;
    overflow: hidden;
    color: white;
}
.box {
    background: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
    width: 300px;
    text-align: center;
}
.box h2{
    color: #003366;
    margin-bottom: 20px;
}
.box input[type="text"],
.box input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 8px;
    outline: none;
}
.box input[type="checkbox"] {
    margin-top: 10px;
}
.box button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #003366;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}
.box button:hover {
    background: #003366;
}
.box a {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    color: #333;
    text-decoration: none;
}
.box a:hover {
    text-decoration: underline;
}
.link {
    margin-top: 15px;
    font-size: 14px;
}
.link a {
    color: #003366;
    text-decoration: none;
}